<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wilber-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,188},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,123},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,125},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,64},{48,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{48,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{48,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{48,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,183},{48,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{48,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,128},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,23},{48,57}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,183},{49,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,24},{49,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,26},{51,54}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,119},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{50,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,186},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,62},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{51,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,18},{51,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,190},{51,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,19},{51,60}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,126},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{51,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,62},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{51,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{51,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,55},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,7},{50,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{51,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,7},{51,60}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{53,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,6},{53,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>hero-wilber.png</string>
			</dict>
		</dict>
</plist>