<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tux-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,187},{41,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,17},{41,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,188},{38,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,17},{38,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,125},{38,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,17},{38,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,63},{39,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,17},{39,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,63},{39,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,17},{39,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,126},{39,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,18},{39,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,187},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,23},{44,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,62},{43,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,23},{43,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,0},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,23},{40,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,188},{38,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,15},{38,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,0},{38,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,15},{38,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,0},{39,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,15},{39,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,62},{38,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,17},{38,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,188},{38,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,18},{38,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,0},{38,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,18},{38,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,17},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,124},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,17},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,187},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,17},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,0},{40,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,7},{40,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{48,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{48,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{50,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,7},{50,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>hero-tux.png</string>
			</dict>
		</dict>
</plist>