<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kit-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,130},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{47,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,65},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{48,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{50,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{50,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,0},{52,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,12},{52,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,68},{52,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,12},{52,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,136},{52,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,12},{52,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,130},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,18},{53,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,0},{48,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,20},{48,60}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,195},{43,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,21},{43,59}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,10},{45,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,130},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,11},{47,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,67},{45,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,12},{45,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,130},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{47,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,65},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{47,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,0},{45,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,15},{45,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,130},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{53,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{53,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,62},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{53,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{46,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{46,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,193},{52,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{52,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{54,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{54,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>hero-kit.png</string>
			</dict>
		</dict>
</plist>