<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gnu-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,81},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,81},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,0},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,162},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,81},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,0},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,162},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,81},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,0},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,162},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,162},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,162},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,81},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,162},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,81},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,0},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,162},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>gnu-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{56,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,80}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>hero-gnu.png</string>
			</dict>
		</dict>
</plist>