<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stageInfo</key>
	<dict>
		<key>currStage</key>
		<string>stage1.plist</string>
		<key>nextStage</key>
		<string>stage2.plist</string>
		<key>group</key>
		<dict>
			<key>0</key>
			<dict>
				<key>type1Num</key>
				<string>1</string>
				<key>type1Hp</key>
				<string>0</string>
				<key>type2Num</key>
				<string>0</string>
				<key>type2Hp</key>
				<string>0</string>
			</dict>
			<key>1</key>
			<dict>
				<key>type1Num</key>
				<string>2</string>
				<key>type1Hp</key>
				<string>0</string>
				<key>type2Num</key>
				<string>0</string>
				<key>type2Hp</key>
				<string>0</string>
			</dict>
			<key>2</key>
			<dict>
				<key>type1Num</key>
				<string>3</string>
				<key>type1Hp</key>
				<string>0</string>
				<key>type2Num</key>
				<string>0</string>
				<key>type2Hp</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<key>resources</key>
	<dict>
		<key>map</key>
		<string>country_road.tmx</string>
	</dict>
</dict>
</plist>
