<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>kit-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,191},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{47,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,61},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{48,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,68},{50,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{50,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{108,0},{52,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,12},{52,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,136},{52,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,12},{52,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,136},{52,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,12},{52,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,65},{53,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,18},{53,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{48,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,20},{48,60}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{43,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,21},{43,59}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,67},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,10},{45,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{47,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,11},{47,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,134},{45,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,12},{45,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,126},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{47,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,126},{47,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{47,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,191},{45,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,15},{45,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,68},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{53,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{53,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,0},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{53,67}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,133},{48,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{48,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,68},{49,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{49,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>kit-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,15},{53,64}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>hero-kit.png</string>
			</dict>
		</dict>
</plist>