<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pacman-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{50,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,14},{50,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,0},{43,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{43,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,66},{43,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,14},{43,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,133},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,13},{45,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,66},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,13},{45,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,0},{45,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,13},{45,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,66},{46,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,17},{46,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,67},{45,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,18},{45,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,0},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,18},{44,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,130},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,13},{44,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{44,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,13},{44,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,133},{43,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,13},{43,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,67},{43,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,14},{43,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,130},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,14},{44,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,0},{45,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,14},{45,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{51,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,67},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{51,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{51,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,13},{51,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,130},{46,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,6},{46,66}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,66},{48,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{48,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>pacman-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,132},{48,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,6},{48,65}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>hero-pacman.png</string>
			</dict>
		</dict>
</plist>