<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wilber-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,189},{48,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{48,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,188},{48,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{48,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,58},{48,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,16},{48,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,0},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,23},{48,57}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,189},{49,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,24},{49,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,189},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,26},{51,54}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,125},{50,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,16},{50,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,63},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{252,0},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,16},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,0},{51,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,17},{51,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,63},{51,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,18},{51,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,128},{51,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,19},{51,60}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,64},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{51,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,0},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{51,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{51,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{51,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,125},{48,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,17},{48,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,17},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>wilber-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,122},{47,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,16},{47,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>hero-wilber.png</string>
			</dict>
		</dict>
</plist>