<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tux-attack-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,177},{41,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,17},{41,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-attack-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,189},{38,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,17},{38,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-attack-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,126},{38,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,17},{38,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-block-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,63},{39,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,17},{39,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-block-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,177},{39,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,17},{39,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-block-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{39,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,18},{39,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-die-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,63},{44,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,23},{44,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-die-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,120},{43,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,23},{43,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-die-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,120},{40,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,23},{40,56}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-hurt-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,62},{38,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,15},{38,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-hurt-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,62},{38,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,15},{38,63}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-hurt-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,0},{39,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,15},{39,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-idle-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,188},{38,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,17},{38,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-idle-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,126},{38,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,18},{38,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-idle-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,0},{38,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,18},{38,61}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-move-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,17},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-move-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,17},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-move-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,17},{46,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-skill-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,177},{41,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,17},{41,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-skill-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,0},{44,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,17},{44,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

			<key>tux-skill-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{47,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,17},{47,62}}</string>
				<key>sourceSize</key>
				<string>{56,80}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,256}</string>
			<key>textureFileName</key>
			<string>hero-tux.png</string>
			</dict>
		</dict>
</plist>